Ecommerce.API/.vs/Ecommerce.API/FileContentIndex/
Ecommerce.API/.vs/Ecommerce.API/v17/.futdcache.v2
Ecommerce.API/.vs/Ecommerce.API/v17/
Ecommerce.API/bin/
Ecommerce.API/logs/
Ecommerce.API/obj/
Ecommerce.Core/bin/
Ecommerce.API/Properties/
Ecommerce.Core/obj/
Ecommerce.Infrastructure/bin/
Ecommerce.Infrastructure/Migrations/
Ecommerce.Infrastructure/obj/Ecommerce.Infrastructure.csproj.EntityFrameworkCore.targets
Ecommerce.Infrastructure/obj/
